[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
doxygen-interface = "*"
aenum = "*"
hostmydocs-client = "*"

[dev-packages]
pyinstaller = "*"
pypiwin32 = "*"

[scripts]
build-exe="pyinstaller --onefile doxy-my-docs.py"
